set size {$x_size},{$y_size}
set terminal postscript eps 38
set output '{$output}'
set xrange [{$x_range_min}:{$x_range_max}]
set yrange [{$y_range_min}:{$y_range_max}]
set nokey
plot '-' pointtype 1 pointsize 5, x notitle
{$data}
#title "Comparison of churras with merinas" 
#pause 5
