set size 2,2
set terminal postscript eps 38
set output 'plot.eps'
set xrange [0:50]
set yrange [0:50]
set nokey
plot 'plottable' pointtype 1 pointsize 5, x notitle
#title "Comparison of churras with merinas" 
#pause 5
